# Node
node_modules/
npm-debug.log*
package-lock.json

# Playwright y Allure reports
playwright-report/
playwright-report.zip
reports/
test-results/
allure-report/
allure-results/
ci-report/

# Logs y screenshots
logs/
screenshots/

# Archivos del sistema o IDE
.DS_Store
.vscode/
.idea/

# Archivos comprimidos o temporales
*.zip
*.tmp